body {
  background: rgb(216, 231, 231);
}
small {
  position: absolute;
  text-align: right;
  padding-right: 22px;
  opacity: 0.3;
  width: 100%;
}
button {
  background: rgb(228, 208, 226);
  float: right;
  margin-right: 20px;
  color: #795369;
  height: 50px;
  width: 72px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
button:hover {
  background: #795369;
  color: #fff;
}
input {
  border-radius: 4px;
  background-color: rgb(229, 241, 241);
  border: none;
  margin-bottom: 20px;
  width: 400px;
  height: 48px;
  padding-left: 22px;
  font-size: 18px;
}
input:focus {
  outline-color: #795369;
  outline-style: ridge;
}
h2,
h3,
h4,
h5,
h6 {
  color: #795369;
}
h5 {
  margin-left: -32px;
}

.container {
  display: inline;
}

.App-header {
  background-color: #795369;
  width: 100%;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.App-header h1 {
  color: #fff;

  font-weight: 600;
}
.Dictionary {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.phonetics {
  display: inline-flex;
  margin-bottom: 20px;
  margin-right: 20px;
}
.pheneticText {
  margin-right: 10px;
  margin-top: 10px;
}
.Meaning {
  text-align: left;
  background: rgb(228, 208, 226);
  border-radius: 4px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  float: left;
  margin: 10px;
  width: 480px;
}
.Definition {
  margin-bottom: 18px;
}

.SynonymList {
  text-align: left;
  list-style: circle;
  display: inline-block;
}
